$('#search_results').text("<% @search_tasks.each do |task| %><%= task.description%><%= task.completion ? 'Completed' : 'Incomplete'%></td><%= task.tomatoes.where(:completion => true).count %><%end%>")
